name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-and-test:
    name: Lint and Test (Node ${{ matrix.node }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4

      - name: Extract node version
        id: extract-node-version
        uses: ./.github/actions/extract-node-version

      - name: Build Docker Image
        id: docker-build
        uses: ./.github/actions/docker-build
        with:
          node-version: ${{ matrix.node }}
          image-name: traffic-analytics-${{ matrix.node }}

      - name: Lint & Test
        uses: ./.github/actions/lint-and-test
        with:
          docker-image: ${{ steps.docker-build.outputs.base-image-name }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        if: ${{ fromJSON(steps.extract-node-version.outputs.node-version) == matrix.node }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Retag & Push Docker Image
        if: ${{ fromJSON(steps.extract-node-version.outputs.node-version) == matrix.node }}
        env:
          IMAGE_NAME: ghcr.io/${{ github.repository }}:${{ github.sha }}
        run: |
          IMAGE_NAME_LOWER=$(echo "$IMAGE_NAME" | tr '[:upper:]' '[:lower:]')
          docker tag ${{ steps.docker-build.outputs.production-image-name }} "$IMAGE_NAME_LOWER"
          docker push "$IMAGE_NAME_LOWER"