name: Health Checks

on:
  schedule:
    # Run hourly
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  healthcheck-staging:
    name: Healthcheck Staging
    uses: ./.github/workflows/run-healthchecks.yml
    secrets: inherit
    with:
      environment: staging

  healthcheck-production:
    name: Healthcheck Production
    uses: ./.github/workflows/run-healthchecks.yml
    secrets: inherit
    with:
      environment: production
